@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow {
  box-shadow: 0px 0px 3px 1px #d8d8d8;
}
.shadow2 {
  box-shadow: 3px 4px 10px 1px #d8d8d8;
}
/* * {
  font-family: sans-serif;
} */
.white1 {
  background-color: #fbfbfb;
}
.white2 {
  background-color: #f5f5f5;
}
.inputs:focus {
  outline: none; /* To remove the default focus outline */
  border: none; /* To remove any default border */
  border-bottom: 2px solid orange; /* Adding orange color to the top border when focused */
  transition: border-top 0.3s ease; /* Adding transition for smooth effect */
}
.textareas:focus {
  outline: none; /* To remove the default focus outline */
  border: none; /* To remove any default border */
  border: 2px solid orange; /* Adding orange color to the top border when focused */
  transition: border-top 0.3s ease; /* Adding transition for smooth effect */
}
.custom-width {
  width: 364px; /* Set the width to your desired value */
}
.custom-height {
  height: 426px; /* Set the width to your desired value */
}
.bg-full {
  background-image: url("../public/img/bg-svg-f.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gap {
  gap: 50%;
}
.fixed {
  position: sticky;
  top: 0;
  z-index: 100;
}
.checkbox {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* .bg-left {
  background-image: url("../public/img/left.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-right {
  background-image: url("../public/img/right.jpg");
  background-repeat: no-repeat;

  background-size: cover;
} */
@media screen and (max-width: 1200px) {
  .block {
    display: block;
  }
  .auth {
    position: static;
    width: 50%;
    margin: 0 auto;
  }
  .authEner {
    position: static;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .footergap {
    gap: 100px;
  }
  .aboutCont {
    width: 100%;
    background-image: none;
  }
  .aboutWrapp {
    margin: 0 auto;
  }
  .textcenter {
    text-align: center;
  }
  .center {
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .auth {
    position: static;
    width: 60%;
    margin: 0 auto;
  }
  .header1 {
    width: 100%;
  }
  .displayinvisible {
    display: none;
  }
  .displayvisible {
    display: block;
  }
}
